@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-yellow {
  --tw-gradient-from: #fff601;
  --tw-gradient-to: rgb(255 246 1 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), #fff601, var(--tw-gradient-to);
}

.gradient-orange {
  --tw-gradient-to: #ffc837;
}
.animate-moving-background {
  -webkit-animation: moving-background 5s ease-in-out;
  animation: moving-background 5s ease-in-out;
}
.animate-moving-background {
  -webkit-animation: moving-background 5s ease-in-out;
  animation: moving-background 5s ease-in-out;
}
@-webkit-keyframes moving-background {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  66% {
    opacity: 0.4;
  }
  to {
    transform: translateY(-150px);
    opacity: 0;
  }
}
@keyframes moving-background {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  66% {
    opacity: 0.4;
  }
  to {
    transform: translateY(-150px);
    opacity: 0;
  }
}

.underline-animated {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}
.underline-animated:hover, .underline-animated:focus {
  background-size: 100% 2px;
}
